# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Disk Images, Raw Dumps, Archives & Backups
*.img
*.iso
*.raw
*.bin
*.zip
*.tar.*
*.7z
_temp*
scratch/

# IDE and OS
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db
Desktop.ini
